@font-face {
    font-family: '阿里巴巴普惠体';
    src: url("./font/ALIBABA-PUHUITI-REGULAR.OTF");
}
@font-face {
    font-family: '汉仪正圆-85S';
    src: url("./font/HYZhengYuan-85S(1).otf");
}
@font-face {
    font-family: '思源宋体 CN';
    src: url("./font/SourceHanSerifCN-Bold.otf");
}
@font-face {
    font-family: '旁门正道标题体';
    src: url("./font/庞门正道标题体2.0增强版.ttf");
}
@font-face {
    font-family: "思源黑体 CN Medium";
    src: url("./font/思源黑体 CN-Medium.otf");
}
@font-face {
    font-family: "思源黑体 CN Regular";
    src: url("./font/思源黑体 CN-Regular.otf");
}
@font-face {
    font-family: "仓耳渔阳体";
    src: url("./font/TsangerYuYangT-W05.ttf");
}
@font-face {
    font-family: "江西拙楷";
    src: url("./font/江西拙楷.ttf");
}

.cover{
    width:50%;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.edit{
    transform: scale(0.8);
    width:500px;
    height: 680px;
    position: relative;
    background-color: #fff;
    overflow: hidden;
}
.text{
    position: absolute;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}
.img{
    user-select: none;
    width: 500px;
    height: 680px;
}
.option{
    display: flex;
    justify-content: center;
}
.left{
    margin-right: 20px;
    width: 280px;
}
.colorPicker{
    width: 50px;
    height: 30px;
    position: relative;
    /*border: 3px solid rgba(0, 0, 0, 0.37);*/
    border-radius: 2px;
}
.colorBox{
    position: absolute;
    z-index: 9999;
    bottom: 0px;
    left: 0px;
}
